h1 {
	text-align: center;
	font-family: 'Sriracha', cursive;
}

#navTable {
	border: 0;
	width: 20%;
	text-align: center;
}

.navigation {
	width: 20px;
}

footer {
	text-align: center;
}

th {
	font-size: larger;
}

