li {
	margin-left: 12%;
	list-style-type: square;
}

h1 {
	font-family: 'Rock Salt', cursive;
}

#bandHeading {
	font-family: 'Oswald', sans-serif;
	text-align: center;
}

.background {
	display: block;
	background-image: url("https://upload.wikimedia.org/wikipedia/en/3/3b/Dark_Side_of_the_Moon.png");
	background-repeat: no-repeat;
	background-position: center;
	height: 300px;
	width: 100%;
}

ul {
	font-style: italic;
}

.center {
	margin-right: auto;
	margin-left: auto;
	width: 80%;
}

table, th, td {
	border: 2px solid black;
	border-collapse: collapse;
}

td {
	text-align: center;
}