h1 {
	text-align: center;
	font-family: 'Sriracha', cursive;
}

#navTable {
	border: 0;
	width: 20%;
	text-align: center;
}

.navigation {
	width: 20px;
}

footer {
	text-align: center;
}

th {
	font-size: larger;
}

a:visited.navLink {
	color: red;	
}

a:hover.navLink {
	font-weight: bold;
}

a:active.navLink {
	text-decoration: none;
}

tbody.beverages {
	text-align: left;
}

.bevName {
	text-align: left;
	padding-right: 20px;
	height: 20px;	
}

#bevTable {
	margin-right: auto;
	margin-left: auto;
	margin-top: 40px;
}

th.beverages {
	font-size: xx-large;
	padding-bottom: 30px;
}