li {
	margin-left: 12%;
	list-style-type: square;
}

#bandHeading {
	text-align: center;
}

.center {
	margin-right: auto;
	margin-left: auto;
	width: 80%;
}

table, th, td {
	border: 2px solid black;
	border-collapse: collapse;
}

h1, h2, h3 {
	text-align: center;
}

.image {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

td {
	text-align: center;
}