li {
	margin-left: 12%;
	list-style-type: square;
}

h1 {
	font-family: 'Rock Salt', cursive;
}

#bandHeading {
	font-family: 'Oswald', sans-serif;
	text-align: center;
}

.album-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

ul {
	font-style: italic;
}

.center {
	margin-right: auto;
	margin-left: auto;
	width: 80%;
}

table, th, td {
	border: 2px solid black;
	border-collapse: collapse;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	background-color: #46d465;
}

td {
	text-align: center;
	font-style: italic;
}

tbody {
	background-color: #c8f08e;
}

h1, h2, h3 {
	text-align: center;
}

table {
	margin-bottom: 20px;
}